<!DOCTYPE html>
<html lang="en">

<head>
    <%- include common %>
        <title>学生个人中心</title>

</head>

<body>
    <%- include("head",{title:"login"}) %>
        <%- include("stu_nav",{type:'today'}) %>
            <h3>今日寄语</h3>


</body>

</html>