<!DOCTYPE html>
<html lang="en">

<head>
    <%- include common %>
        <title>学生个人中心</title>

</head>

<body>
    <%- include("head",{title:"login"}) %>
        <%- include("stu_nav",{type:'shen'}) %>
            <h3>提交申请</h3>


</body>

</html>