<!DOCTYPE html>
<html lang="en">

<head>
    <%- include common %>
        <title>学生个人中心</title>

</head>

<body>
    <%- include("head",{title:"login"}) %>
        <%- include("stu_nav",{type:'score'}) %>
            <h3>学生个人中心</h3>


</body>

</html>