<h2 class="text-info">尊敬的老师 :</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="<%- type=='my'?'active':'' %>"><a href="/teacher">学生情况</a></li>
    <li role="presentation" class="<%- type=='banji'?'active':'' %>"><a href="/teacher/tea_banji">所带班级</a></li>
</ul>