<!DOCTYPE html>
<html lang="en">

<head>
    <%- include common %>
        <title>教师个人中心</title>
</head>

<body>
    <%- include("head",{title:"login"}) %>
        <%- include("tea_nav",{type:"my"}) %>
            <h3>学生情况</h3>

</body>

</html>