.top {
    width: "100vw";
    height: 200px;
    padding: 20px;
}

.headpic {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: white;
    float: left;
}

.my-list .spe .am-list-extra {
    flex-basis: initial;
}